.cart-dropdown {
  position: absolute;
  width: 20rem;
  height: 34rem;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #000;
  background-color: #fff;
  top: 8rem;
  right: 4rem;
  z-index: 5;

  .cart-items {
    height: 30rem;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  button {
    margin-top: auto;
  }
}
